databricks-sdk>=0.30.0
databricks-sql-connector>=3.4.0
psycopg2-binary>=2.9.9
sqlalchemy>=2.0.30
requests>=2.32.3
python-dotenv>=1.0.1
fastapi==0.110.0
uvicorn==0.28.0
pydantic==2.6.4
email-validator==2.1.1
streamlit==1.32.0
